nav {
  display:flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100%;
  justify-content: space-between;
  color: #FFFFFF;
  background-color: #4056A1;
/*120-pixel height is very ugly, i suggest 60*/
  height: 120px;
  padding-right: 1.5em;
  padding-left: 1.5em;
/*no padding on the bottom is ulgy, i suggest adding one*/  
/*  padding-bottom: 0.25em; */
}

.left-span {
  font-family: "Bungee", sans-serif;
  font-size: xx-large;
}


.right-span {
  font-family: "Bungee", sans-serif;
  font-size: medium;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.angle-double-down {
  color: #FF0000;
}

