nav {
  display:flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  color: #FFFFFF;
  background-color: #4056A1;
/*120-pixel height is very ugly, i suggest 60*/
  height: 120px;
  padding-right: 1.5em;
  padding-left: 1.5em;
  padding-bottom: 0.25em;
  font-family: "Bungee", sans-serif;
}

.left-span {
  font-size: xx-large;
  position: relative;
}


.right-span {
  font-size: medium;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.angle-double-down {
  color: #ff0000;
}

