.new-tweet {
  display:flex;
  flex-direction: column;
  align-items: stretch;
}

.new-tweet textarea {
  width: 100%;
  box-sizing: border-box;
  margin: 8px 0;
  background-color: inherit;
  border: none;
  border-bottom: 3px solid black;
  padding: 10px;
}

.tweet-form-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
}

button {
  color: #FFFFFF;
  background-color: #4056A1;
  border: 0;
  transition: background-color 0.3s ease;
}

button:hover {
  color: #4056A1;
  background-color:inherit;
}
